.container{
    border: 1px solid white;
    border-radius: 7px;
    background-color:rgb(4,65,69);
    color: rgb(149,236,150);
font-family:Arial, Helvetica, sans-serif;
padding-left:20px;
}
.button1{
    border:1px;
    width: 40px;
    padding: 7px;
    background-color: rgba(2,65,39,255);
}
.button{
    margin-bottom: 25px;
}
.one, .two, .three, .four, .five{
border: 1px solid;
border-radius: 3px;
padding: 5px;
}
.container2{
    margin-top: 25px;
    margin-left: 280px;
    margin-right: 280px;
    justify-content:space-around;
    display: flex;
    gap: 10px;
    align-items:center
}

                .Circle1, .Circle2, .Circle3{
                width: 250px;
                  height: 250px;
                  background-color:rgba(3,123,132,255);
                  border-radius: 50%;
                 text-align: center;
             justify-content: center;
             display: flex;
box-sizing: border-box;
padding-top: 65px;  
font-size:x-large;    
margin: 0;         
}
               