.TotalPara{
    margin:20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
grid-row-gap:50px;
grid-column-gap: 10px;
}

h4{
   height: 20px;
    background-color: rgba(68,133,255,255);
    color: white;
    padding: 10px;
margin-top:0;
}

.para{
    border: 3px solid whitesmoke;
    box-sizing: border-box;
   border-radius: 5px;
  
   
}
p{
padding: 25px;
line-height: 2;
color: rgba(68,133,255,255);
word-spacing: 5px;
font-family: sans-serif;
}
.color{
    color: rgba(134,54,193,255);
    
}